*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PopRegular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PopMedium;
  src: url(./fonts/Poppins-Medium.ttf);
}

body {
  font-family: PopLight;
}

.portofolio {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

nav svg {
  fill: white;
  padding-right: 10px;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #0b3049;
}

.dropdown-content {
  margin-left: 20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

.logo {
  font-size: 20px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  overflow: hidden;
  height: 350px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 350px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.model-right {
  transform: translate(0%, 10%);
}

.model-left {
  transform: translate(0%, -10%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
}

.details {
  grid-column: 2/3;
  align-self: end;
}

.details h1 {
  font-size: 48px;
  font-family: PopRegular;
}

.details h2 {
  padding: 20px 0px;
}

.details p {
  font-size: 24px;
  padding: 20px 0px 50px 0px;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pages svg {
  fill: white;
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages p {
  font-size: 18px;
  padding: 30px;
}

.page-1 p {
  transform: translateX(15px);
}

.page-2 p {
  transform: translateX(175px);
}

.page-3 p {
  transform: translateX(125px);
}

.pages svg {
  cursor: pointer;
  opacity: 1;
  transform: scale(2);
}

.more-information {
  float: right;
  transform: translateY(-150px);
  padding-right: 55px;
  padding-bottom: 0%;
}

.more-information a {
  font-family: PopLight;
  font-size: 26px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hidden {
  color: white;
}

.education {
  background-color: white;
}

.contact {
  opacity: 1;
}

.header1 {
  font-family: PopLight;
}

.IA {
  height: 100%;
  width: 25%;
}
